body {
    font-family: Arial, sans-serif;
    background-color: #FFE6A7; /* Third color - Background color */
    margin: 0;
    padding: 0;
    display: block;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    flex-grow: 1;
}

header {
    width: 100%; /* Make the banner full-width */
    box-sizing: border-box;
}


.background-container {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden; 
}

.blend {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    overflow: hidden; 
    background: linear-gradient(to top, #FFE6A7 10%, transparent 30%); /* Gradient + Image */
    background-size: cover;
    background-blend-mode: overlay; /* Blend the gradient with the image */
    z-index: 10;
}

.background-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    object-fit: cover;
    z-index: 1;
}


#aboutUs {
    /* ... other aboutUs styles ... */
    text-align: center;
} 

/* ... other styles from your styles.css ... */

main {
    min-height: 100vh; /* Ensure main content fills full viewport height */
    display: flex; /* For better content wrapping and min-height to work */
    flex-direction: column; /* Stack content vertically */
    margin-top: -50px;
}

.content-container {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%; /* Adjust width as needed */
    padding: 20px; /* Add padding for spacing */
}

.section {
    /* Apply styles to all sections */
    margin: 10px; /* Add spacing between sections */
    padding: 20px; /* Add padding for spacing within sections */
}

.center-section {
    flex: 2.5;
    min-width: 650px;
    position: relative;
}

.left-section, .right-section {
    /* Specific styles for left and right sections */
    flex: 1;
    text-align: center;
    min-width: 300px;
}


/*Search bar*/

.search-container {
    position: relative;
}

.search-container input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: large;
}

.search-container .icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

/* CSS for Suggestions */
#suggestions {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 100%;
    max-height: 16em;
    overflow-y: auto;
    background-color: #BB9457; /* Second color - Suggestions default color */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    display: none;
    padding-left: 0;
    margin-left: 0;
    margin-top: 0;
    z-index: 20;
}

#suggestions li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 2em;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    list-style-type: none;
    cursor: pointer;
    box-sizing: border-box;
}

#suggestions li:hover,
#suggestions li.highlighted {
    background-color: #99582A; /* First color - Suggestions highlight color */
}

#suggestions li div {
    padding: 0 10px;
    line-height: 200%;
    text-align: left;
}

#suggestions li .name {
    flex: 2;
}

#suggestions li .birth-year {
    flex: 2;
}

#suggestions li .parents {
    flex: 5;
}

#personDetails {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: auto;
    position: absolute; 
    top: 130%;
    z-index: 10; /* Make the person details appear on top of the About Us section */
    background-color: white; /* Add a background color to the popup */
    border-radius: 5px; /* Add rounded corners to the popup */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* Add a shadow effect to the popup */
    
    max-height: 0; /* Initially collapse the box */
    opacity: 0;   /* Initially hide the box */
    overflow: hidden; 
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Transition on the box */
}

#personDetails.show { 
    max-height: 500px;  /* Adjust this value based on the maximum content height */
    opacity: 1;
    padding: 20px; 
}

#personDetails > * { /* Target direct children of #personDetails  */
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    max-height: 0; 
    opacity: 0; 
}

#personDetails.show > * { 
    max-height: 500px; /* Or a suitable height for your content */
    opacity: 1; 
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

#personDetails h2 {
    text-align: center;
    color: #333;
}

#personInfoTable {
    width: 100%;
    border-collapse: collapse;
}

#personInfoTable td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#personInfoTable td:first-child {
    text-align: left;
    padding-left: 1em; /* Adjust as needed */
    width: 100px;
}

#personInfoTable td:last-child {
    text-align: left;
}

#personInfoTable tr:nth-child() {
    background-color: #FFE6A7;
}

.personInfo {
    color: #6F1D1B;
}





.business-cards {
    display: flex;           /* Enable flexbox layout */
    justify-content: space-between; /* Evenly distribute cards */
    flex-wrap: wrap;       /* Allow cards to wrap to the next line */
    justify-content: center; /* Center the cards within the container */
    box-sizing: border-box;
    height: 100%;
    position: relative;
  }
  
  .card {
    box-sizing: border-box;
    position: relative;
    background-color: #f9f9f9;  /* Light background for the card */
    border: 1px solid #ccc;      /* Subtle border */
    border-radius: 5px;          /* Rounded corners */
    padding: 20px;              /* Add some padding */
    margin-top: 5px;
    text-align: center;          /* Center content within the card */
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  .card-name {
    font-weight: bold;        /* Make the name stand out */
    margin-bottom: 5px;
  }
  
  .card-title {
    font-size: 0.9em;         /* Slightly smaller font size for title */
    margin-bottom: 10px;
  }
  
  .card-contact {
    font-size: 0.8em;         /* Smaller font size for contact info */
    color: #555;             /* Lighter color for contact info */
  }

  .card-image {
    width: 30%;
    height: 25%; /* Adjust image height as needed */
    overflow: hidden; /* Ensure image stays within the container */
    margin-bottom: 15px; 
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Make the image cover the entire area */
  }
  
  /* Center the content within the card */
  .card h4, .card p {
    text-align: center;
  }

.contact {
    box-sizing: border-box;
    background-color: #f2f2f2; /* Choose your desired background color */
    padding: 5px; /* Add some padding for better appearance */
    margin-top: 20px;
    text-align: right; /* Align text to the left */
    justify-content: right;
    width: 100%; /* Ensure the footer spans the entire width */
}

.contact p {
    padding-right: 15px;
}