body {
  font-family: Arial, sans-serif;
  background-color: #ffe6a7; /* Third color - Background color */
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}

#expandAll {
  position: fixed; /* Make the button fixed */
  top: 20px; /* Adjust top position as needed */
  right: 20px; /* Adjust right position as needed */
  font-size: 1rem; /* Example: Use rem for font size */
  padding: 0.5rem 1rem; /* Example: Use rem for padding as well */
  background-color: #99582a; /* Example button styling */
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 20;
}

#MainPage {
  position: fixed; /* Make the button fixed */
  top: 20px; /* Adjust top position as needed */
  left: 20px; /* Adjust right position as needed */
  font-size: 1rem; /* Example: Use rem for font size */
  padding: 0.5rem 1rem; /* Example: Use rem for padding as well */
  background-color: #99582a; /* Example button styling */
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 20;
}

/*----------------genealogy-scroll----------*/

.genealogy-scroll::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
.genealogy-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e4e4e4;
}
.genealogy-scroll::-webkit-scrollbar-thumb {
  background: #212121;
  border-radius: 10px;
  transition: 0.5s;
}
.genealogy-scroll::-webkit-scrollbar-thumb:hover {
  background: #d5b14c;
  transition: 0.5s;
}

/*----------------genealogy-tree----------*/
.genealogy-body {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 50px;
  min-height: 100vh;
  padding-top: 10px;
  box-sizing: border-box;
  width: 100%;
  display: contents;
}
.genealogy-tree {
  display: inline-block;
  box-sizing: border-box;
}
.genealogy-tree ul {
  padding-top: 20px;
  position: relative;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.genealogy-tree li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
}
.genealogy-tree li::before,
.genealogy-tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 2px solid #bb9457;
  width: 50%;
  height: 18px;
}
.genealogy-tree li::after {
  right: auto;
  left: 50%;
  border-left: 2px solid #bb9457;
}
.genealogy-tree li:only-child::after,
.genealogy-tree li:only-child::before {
  display: none;
}
.genealogy-tree li:only-child {
  padding-top: 0;
}
.genealogy-tree li:first-child::before,
.genealogy-tree li:last-child::after {
  border: 0 none;
}
.genealogy-tree li:last-child::before {
  border-right: 2px solid #bb9457;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}
.genealogy-tree li:first-child::after {
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}
.genealogy-tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 2px solid #bb9457;
  width: 0;
  height: 20px;
}
.genealogy-tree li a {
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.genealogy-tree li a:hover + ul li::after,
.genealogy-tree li a:hover + ul li::before,
.genealogy-tree li a:hover + ul::before,
.genealogy-tree li a:hover + ul ul::before {
  border-color: #6f1d1b;
}

/*--------------memeber-card-design----------*/
.member-view-box {
  padding: 0px 20px;
  text-align: center;
  border-radius: 4px;
  position: relative;
}
.member-image {
  width: 60px;
  position: relative;
  display: contents;
}
.member-image img {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #ffe6a7;
  z-index: 1;
}

/* ... your existing CSS ... */

/* Modal Styles */
.modal {
  display: block; /* Show the modal by default */
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #ffe6a7;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 60%;
  position: relative; /* To position the close button */
}

.modal-content ul {
  /* Target <ul> within the modal content */
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Reset default padding */
  margin: 0; /* Reset default margin */
}

.close-button {
  float: right;
  padding: 5px 10px; /* Add some padding to the close button */
  background-color: transparent; /* Make the background transparent */
  color: #000; /* Example color, change as needed */
  border: none;
  font-size: 20px; 
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: #99582a;
  text-decoration: none;
  cursor: pointer;
}

.agree-button {
  /* Style the "Anladım" button  */
  float: none;
  padding: 10px 20px;
  background-color: #99582a; 
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px; 
  cursor: pointer;
  z-index: 20;
}

.agree-button:hover,
.agree-button:focus {
  /* Add hover effect if needed */
  background-color: darken(#99582a, 10%); 
}
